<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>proyectoFinCurso2APPSGPM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>375E489925E825C000876195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>375E48AF25E825C200876195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>375E48BA25E825C200876195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
